input, button {
  margin: 20px;
}
  
button {
  padding: 5px 10px;
  background-color: #ff5733;
  color: white;
  border: none;
  cursor: pointer;
}
  
button:hover {
  background-color: aquamarine;
}
